<<<<<<< HEAD
<h1>Welcome</h1>

<p>
Willkommen auf der Ruby on Rails Quizz Seite
</p>
=======
<h1>Welcome</h1>
<%= link_to "Questions", 'pages/questions'%>
<%= link_to "Score", 'pages/score'%>
>>>>>>> aaa32c72e320305953b7479ee1942bdee3e4ac47
